In [ ]:
Create a CSV file of, 15 holiday destinations for a website
1. Add in a column of destinations
'2. Add in a column that shows feedback scoe out of 10 for that destination'
'3. Add in a column for average hotel star rating for those destinations'
'4. Add in a coulmn for number of all inclusive hotels within each destination'
'5. Add in the most visited city in each destination'

import pandas as pd
Create a CSV file of 15 holiday destination for a website

Data = pd.DataFrame(
    {'Destination': ['Maldives','Bali','Barcelona','Lisbon','Athens','Saville','Thailand','Rome','Venice','Monaco','Malta','New York','Las Angeles','Berlin','Budapest','San Sebastian'],
      'FeedbackScore':[4,7,3,7,7,3,7,9,6,9,5,8,2,7,8],
      'AverageHotelRating':[1,2,3,4,5,1,2,3,4,5,1,2,3,4,5],
      'AllInclusiveHotelCount':[20,19,30,20,54,28,92,1,1,43,2,6,7,5,4],
      'MostVisiteDestination':['Destination1','Destination2','Destination3','Destination4','Destination5','Destaintion6','Destination7','Destantion8','Destination9,','Destination10','Destination11','Destination12','Destination13','Destination14','Destination15']}

display(Data)
file = Data.to_csv('15HolidayDestinations.cvs', index=False)

In [ ]:
import pandas as pd

holiday_des = pd.read_csv('HolidayDestination.csv')
print(holiday_des)
Destinations     Destination Rate    Average Hotel Rate    AllinclusiveHotelsMostvisited city
1  Maldives                     4                     1                     20
2  Bali                         7                     2                     19
3  Barcelona                    3                     3                     30
4  Lisbon                       7                     4                     20
5  Athens                       7                     5                     54
6  Saville                      3                     1                     28
7  Thailand                     7                     2                     92
8  Rome                         9                     3                      1
9  Venice                       6                     4                      1
10 Monaco                       9                     5                     43
11 Malta                        5                     1                      2
12 New York                     8                     2                      6
13 Las Angeles                  2                     3                      7               
14 Berlin                       7                     4                      5
15 Budapest                     8                     5                      4

In [ ]:
1. How many rows and columns are there in your file?
2. Print row 3 8 ( using iloc loc)