In [1]:
import pandas as pd

In [2]:
holiday_file = pd.read_csv("Book1.csv")

In [3]:
holiday_file

,DESTINATION,FEEDBACK SCORE,AVG HOTEL RATING,NO OF ALL INC HOTELS,MOST VISITED CITY
0,SPAIN,8,3,850,BARCELONA
1,SPAIN,7,3,610,SAVILLE
2,FRANCE,9,4,810,PARS
3,ICELAND,7,3,310,REYKJAVIC
4,GERMANY,6,3,595,BERLIN
5,PORTUGAL,8,3,690,LISBON
6,JAPAN,9,5,795,KYOTO
7,BALI,9,3,295,KUTA
8,ITALY,10,3,1495,VENICE
9,AMERICA,5,4,12696,NEW YORK
10,AMERICA,7,4,675,SAN FRANCISCO
11,CROATIA,6,3,400,HVAR
12,HUNGARY,7,2,595,BUDAPEST
13,GREAT BRITAIN,5,3,455,EDINBURGH

In [ ]:
#Q1 - how many rows and columns are there in your file?
holiday_file.shape

In [ ]:
#Q2 - print row 3-8 (using loc/iloc)
holiday_file.iloc[3:9]

In [4]:
#Q3 - find the mean number of all inclusive hotels across all destinations
holiday_file["NO OF ALL INC HOTELS"].mean()

1519.357142857143

In [5]:
#Q4 - find the lowest scoring destination
min_filter = holiday_file["FEEDBACK SCORE"] == holiday_file["FEEDBACK SCORE"].min()

print("Destinations with lowest score:")
holiday_file[min_filter]

Destinations with lowest score:

,DESTINATION,FEEDBACK SCORE,AVG HOTEL RATING,NO OF ALL INC HOTELS,MOST VISITED CITY
9,AMERICA,5,4,12696,NEW YORK
13,GREAT BRITAIN,5,3,455,EDINBURGH

In [7]:
#Q5 - find the highest scoring desitination
max_filter = holiday_file["FEEDBACK SCORE"] == holiday_file["FEEDBACK SCORE"].max()

print("Destinations with lowest score:")
holiday_file[max_filter]

Destinations with lowest score:

,DESTINATION,FEEDBACK SCORE,AVG HOTEL RATING,NO OF ALL INC HOTELS,MOST VISITED CITY
8,ITALY,10,3,1495,VENICE

In [8]:
#Q6 - find the destinations that have more than 600 all-inclusive hotels
num_hotels_filter = holiday_file["NO OF ALL INC HOTELS"] > 600
holiday_file[num_hotels_filter]

,DESTINATION,FEEDBACK SCORE,AVG HOTEL RATING,NO OF ALL INC HOTELS,MOST VISITED CITY
0,SPAIN,8,3,850,BARCELONA
1,SPAIN,7,3,610,SAVILLE
2,FRANCE,9,4,810,PARS
5,PORTUGAL,8,3,690,LISBON
6,JAPAN,9,5,795,KYOTO
8,ITALY,10,3,1495,VENICE
9,AMERICA,5,4,12696,NEW YORK
10,AMERICA,7,4,675,SAN FRANCISCO

In [9]:
#Q7 - filter by score above 8
score_filter = holiday_file["FEEDBACK SCORE"] > 8

print("Destinations with score over 8:")
holiday_file[score_filter]

Destinations with score over 8:

,DESTINATION,FEEDBACK SCORE,AVG HOTEL RATING,NO OF ALL INC HOTELS,MOST VISITED CITY
2,FRANCE,9,4,810,PARS
6,JAPAN,9,5,795,KYOTO
7,BALI,9,3,295,KUTA
8,ITALY,10,3,1495,VENICE

In [10]:
#Q8 - filter by score below 2 

score_filter = holiday_file["FEEDBACK SCORE"] < 2

print("Destinations with score less than 2:")
holiday_file[score_filter]

Destinations with score less than 2:

Empty DataFrame
Columns: [DESTINATION, FEEDBACK SCORE, AVG HOTEL RATING, NO OF ALL INC HOTELS, MOST VISITED CITY]
Index: []

In [11]:
#Q9 - is there a correlation between number of all-inclusive hotels and score?
# Extract the columns we're interested in
data = holiday_file[["FEEDBACK SCORE", "NO OF ALL INC HOTELS"]]

# Display correlation
data.corr()

# Correlation is the measure of the statistical relationship, or association, between two variables. 
# Degree of correlation guideline
#    Perfect: If the value is near ± 1, then it is said to be a perfect correlation - as one variable increases, the other variable tends to also increase (if positive) or decrease (if negative).
#    High degree: If the value lies between ± 0.50 and ± 1, then it is said to be a strong correlation.
#    Moderate degree: If the value lies between ± 0.30 and ± 0.49, then it is said to be a medium correlation.
#    Low degree: When the value lies below ± .29, then it is said to be a small correlation.

                      FEEDBACK SCORE  NO OF ALL INC HOTELS
FEEDBACK SCORE              1.000000             -0.385214
NO OF ALL INC HOTELS       -0.385214              1.000000

In [22]:
#Q10 - create visualisation diagram to show destination and scores 
holiday_file.set_index("DESTINATION", inplace = True)
holiday_file.plot.bar(y="FEEDBACK SCORE")

KeyError: "None of ['DESTINATION'] are in the columns"

In [24]:
import  matplotlib 

holiday_file.groupby(["Destination"]).sum().plot.pie(y='No of all inc hotels', figsize=(8,8))

ModuleNotFoundError: No module named 'matplotlib'